{% extends "layout.html" %}
{% block body %}

<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="recite">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="container-fluid">
                    <div class="row-fluid">
                  
                        <div class="col-md-10 col-md-offset-1" id="start">
      <a href="http://blog.zhimind.com/tools_for_foreign_language_learning.html">学习工具合集</a>
      <a href="/talkerchu/index.html>脱口而出</a>
                                <a href="#" onclick="start()" href="javascript:void(0)" class="thumbnail storedBook">
                                    <img alt="" style="height: 180px; width: 100%">
                                    <p id="currentBook"></p>
                                    <p id="currentBookNum"></p>
                                    <p id="currentBookView"></p>
                                    <p id="currentBookFinish"></p>
                                </a>
                            </div>
      
<a href="/reciteword/reciteWord.html">脑洞单词</a>      
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
       
</div>

{% endblock %}

